.slider{
    position: relative;
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(211,161,98,1) 50%, rgba(0,0,0,1) 100%);

}

.slider-images{
    /* width: 1000px; */
    height: 600px;
    border-radius: 10px;
    
}
.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    user-select: none;
}
.slid {
opacity: 0;
transition-duration: 1s ease;

}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media screen and (max-width: 900px) {
    .slider-images{
        /* width: 1000px; */
        height: 300px;
        border-radius: 10px;
        
    }
    .left-arrow{
        margin-top: 200px;

        
    }
    .right-arrow{
        margin-top: 200px;

        
    }


}