.banner-div{
<<<<<<< HEAD
    display: -ms-flex;
    display: -webkit-flex;
    /* display: flex; */
    /* height: 10hv; */
    
}
.banner{
    width: 100%;
    /* top: 0px; */
    /* left: 0px; */
    /* z-index: -100; */

    position: relative;
    /* opacity: 0; */



}
=======
    /* height: max-content; */
    background-color: black;
}
.banner{
    width: 100%;
    /* height: max-content; */
}

>>>>>>> 08aa3360ee511cec5aa82b455cb414cb194c15f1
