* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
<<<<<<< HEAD

  font-family: sans-serif;
  scroll-snap-type: x proximity;
=======
  font-family: 'PT Sans', sans-serif;
  
>>>>>>> 08aa3360ee511cec5aa82b455cb414cb194c15f1
}
